html
  head
    meta(charset="utf-8")
    title #{__('title')}
  body
    h1 #{__('title')}
    h1 #{__('mune.server')}
    button#language_en 切换英文
    button#language_ch 切换中文
    script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src='http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js')
    script(src='js/lang.js')
